.poolmaincont {
    width: 100%;
    height: 80%;
    padding: 0px 2%;

}

span +  #derivexlol {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.poolmch {
    width: 100%;
    height: 13%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.poolmch1 {
    height: 40px;
    width: 25rem;
   
    display: flex;
    flex-direction: row;


}

.pmch1l {
    display: flex;
}

.pmch1c1 {
    font-size: 1.125rem;
    height: 24px;
    font-weight: 800;
}
.pmch1c2
 {
    font-size: 0.75rem;
 }
.pmch1c {
    display: flex;
    flex-direction: column;
}

.pmch1s {
    height: 100%;
    width: 46rem;
}
.poolinfoliq {
    width: 100%;
    height : 87%;
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.poolinfo {

    width: 25rem;
    height:100%;
    padding: 25px;
    border-radius: 18px;
    overflow-x: hidden ;
    overflow-y: auto;
    background-color: #242629;
    
}

.poolliq {
    background-color: #242629;
    width: 46rem;
    height:100%;
    padding: 25px;
    border-radius: 18px;
    overflow-x: hidden ;
    overflow-y: auto;
}

.poolinfo .infocont {
    width: 100%;
    height: 18rem;
    background-color: lightblue;
    border-radius: 18px;
    padding: 25px;
    margin-bottom: 26px;
}

.infocont + p {
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    text-align: start;
    margin-top: 1.5rem;
    margin-bottom: 0px;
}

.picont1 {
    height: 70px;
    width: 22rem;
 
    margin-top: 1.5rem;
}

.picont11 {
    font-size: 0.85rem;
    color: rgba(145,153,167,1);
}


.picont12 {
    font-size: 1.875rem;
    font-weight: bold;
    color: #3deca7;
}

.picont2 {
    height: 60px;
    width: 22rem;
   
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.picont21 {
    width: 10rem;
    height: 100%;
   
}
.picont22 {
    width: 10rem;
    height: 100%;

}

.picont211 {
    font-weight: bold;
    color: #3deca7;
    font-size:1.25rem ;
}
.picont3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
    width: 100%;
}
.picont31 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    width: 100%;
   
}

.picont32 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    width: 100%;
 
}

.picont311 {
    width: 10rem;
    height: 100%;
}

.picont312 {
    width: 10rem;
    height: 100%;
}


.picont3111 {
    font-weight: bold;
    color: #ffffff;
    font-size:1.4rem ;
}

.poolliq p {
    text-align: left;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
}

.plc2 {
    width: 30rem;
    height: 82px;
}
.plc2 .picont21 {
     
        width: 18rem;
   
}

.plc3 {
    width: 71%;
    height: 160px;
}

.plc3 .picont31 {
    height: 80px;
}

.plc3  .picont3111 {
    display: flex;
    flex-direction: row;
}

.plc2   .picont3111 {
    display: flex;
    flex-direction: row;
}

.plc4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.plc4 button {
    background-color: #B794F4;
    height: 32px;
    outline: none;
    border: none;
    padding : 0px 20px;
    border-radius: 20px;
}
.plc5 {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




/* media 1197px - 800px*/

@media (max-width : 1197px) {

    span + #derivexlol {
        height: 260vh;
    }
    .poolmaincont {
        height: 100%;
    }
    .poolinfoliq {
        flex-direction: column-reverse;
        height: 92%;
    }
    .poolmch {
        height: 8%;
    }
    .poolinfo {
        width: 100%;
        height: 98rem;
    }
    .poolliq {
        width: 100%;
        height: 98rem;
        margin-bottom: 22px;
    }
    .plc2 {
        width: 71%;
    }
    
    span + #derivexlol + .py-6 {
      
            padding-top: 6rem !important;
        
    }
}


/* media 600px - 430px*/

@media(max-width : 600px){
    .plc2 {
        width: 100%;
    }
    .plc3 {
        width: 100%;
    }
}

@media(max-width : 410px) {
    .plc4 button {
        padding: 0px;
        width: 150px;
        
    }
}


@media(max-width : 390px){
    .picont2 {
        width: 100%;
    }
}
